In [ ]:
%load_ext sql

In [ ]:
!pip install ipython-sql==0.4.1

Collecting ipython-sql==0.4.1
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Collecting prettytable<1 (from ipython-sql==0.4.1)
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (2.0.30)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (67.7.2)
Collecting jedi>=0.16 (from ipython>=1.0->ipython-sql==0.4.1)
  Downloading jedi-0.19.1-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 13.5 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.0.3)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13696 sha256=ffe717d46b2de107b1beef99cfdd32bddd084290371161af0a413dadef5115dc
  Stored in directory: /root/.cache/pip/wheels/25/4b/07/18c5d92824315576e478206ea69df34a9e31958f6143eb0e31
Successfully built prettytable
Installing collected packages: prettytable, jedi, ipython-sql
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.10.0
    Uninstalling prettytable-3.10.0:
      Successfully uninstalled prettytable-3.10.0
  Attempting uninstall: ipython-sql
    Found existing installation: ipython-sql 0.5.0
    Uninstalling ipython-sql-0.5.0:
      Successfully uninstalled ipython-sql-0.5.0
Successfully installed ipython-sql-0.4.1 jedi-0.19.1 prettytable-0.7.2

In [ ]:
!pip install SQLAlchemy==1.4.47

Collecting SQLAlchemy==1.4.47
  Downloading SQLAlchemy-1.4.47-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 9.7 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.47) (3.0.3)
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.30
    Uninstalling SQLAlchemy-2.0.30:
      Successfully uninstalled SQLAlchemy-2.0.30
Successfully installed SQLAlchemy-1.4.47

In [ ]:
%sql postgresql://ID:PASSWORD@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev

In [ ]:
%%sql

-- CREATE SCHEMA raw_data;
DROP TABLE IF EXISTS raw_data.preprocessed;
CREATE TABLE raw_data.preprocessed (
  title varchar(255),
  created_at date,
  price integer,
  shop_type varchar(50),
  votes integer,
  views integer,
  product varchar(255),
  components_of_computer varchar(255)
);

DROP TABLE IF EXISTS raw_data.shop;
CREATE TABLE raw_data.shop (
  title varchar(255),
  shop_type varchar(50)
);

   postgresql://admin:***@default-workgroup.471112861727.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
 * postgresql://member1:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member2:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member3:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql

COPY raw_data.preprocessed
FROM 's3://electronic-items-comparison/pjt02/preprocessed.csv'
credentials 'aws_iam_role=arn:aws:iam::201253867267:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

COPY raw_data.shop
FROM 's3://electronic-items-comparison/pjt02/shop_type_last.csv'
credentials 'aws_iam_role=arn:aws:iam::201253867267:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

   postgresql://admin:***@default-workgroup.471112861727.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
 * postgresql://member1:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member2:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member3:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [ ]:
%%sql

DROP TABLE IF EXISTS raw_data.temp;
CREATE TABLE raw_data.temp AS
(
  SELECT
    a.title,
    created_at,
    price,
    CASE
      WHEN b.shop_type='' THEN a.shop_type
      ELSE b.shop_type
    END shop_type,
    votes,
    views,
    product,
    components_of_computer
  FROM raw_data.preprocessed a
  LEFT JOIN raw_data.shop b
  ON a.title = b.title
);

DROP TABLE IF EXISTS raw_data.preprocessed;
CREATE TABLE raw_data.preprocessed AS
(
  SELECT
    title,
    created_at,
    price,
    CASE
      WHEN shop_type='NULL' THEN '기타'
      WHEN shop_type='None' THEN '기타'
      WHEN shop_type is NULL THEN '기타'
      WHEN shop_type = '' THEN '기타'
      ELSE shop_type
    END shop_type,
    votes,
    views,
    product,
    components_of_computer
  FROM raw_data.temp
);

DROP TABLE IF EXISTS raw_data.temp;
DROP TABLE IF EXISTS raw_data.shop;

   postgresql://admin:***@default-workgroup.471112861727.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
 * postgresql://member1:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member2:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member3:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql

-- CREATE SCHEMA analytics;
DROP TABLE IF EXISTS analytics.product;
CREATE TABLE analytics.product AS
(
  SELECT
    row_number() over(order by product_name) product_id,
    product product_name,
    components_of_computer
  FROM raw_data.preprocessed
  GROUP BY product_name,components_of_computer
);

DROP TABLE IF EXISTS analytics.post;
CREATE TABLE analytics.post AS
(
  SELECT
    row_number() over(order by created_at) post_id,
    product_id,
    price,
    shop_type,
    votes,
    views,
    title,
    created_at
  FROM raw_data.preprocessed a
  JOIN analytics.product b
  ON a.product = b.product_name
);

   postgresql://admin:***@default-workgroup.471112861727.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
 * postgresql://member1:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member2:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member3:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql

DROP TABLE IF EXISTS analytics.summary;
CREATE TABLE analytics.summary AS
(
  SELECT
    post_id,
    product_name,
    components_of_computer,
    price,
    shop_type,
    votes,
    views,
    title,
    created_at
  FROM analytics.post a
  JOIN analytics.product b
  ON a.product_id = b.product_id
)

   postgresql://admin:***@default-workgroup.471112861727.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
 * postgresql://member1:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member2:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member3:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [ ]:
%%sql

DELETE FROM analytics.summary
WHERE title LIKE '%본체%';

DELETE FROM analytics.summary
WHERE title LIKE '%패키지%' AND components_of_computer != 'ram';

DELETE FROM analytics.summary
WHERE title similar to '%(완본|조립)%';

DELETE FROM analytics.summary
WHERE price < 10000 OR title similar to '%(래플|중고|12400F|12400f)%';

DELETE FROM analytics.summary
WHERE title LIKE '%ddr%' AND components_of_computer != 'ram';

DELETE FROM analytics.summary
WHERE components_of_computer = 'mainboard' AND product_name = 'A320' AND price > 100000;

   postgresql://admin:***@default-workgroup.471112861727.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
 * postgresql://member1:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member2:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member3:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
132 rows affected.
17 rows affected.
29 rows affected.
118 rows affected.
24 rows affected.
8 rows affected.

[]

In [ ]:
%%sql

DROP TABLE IF EXISTS analytics.stddev_summary;
CREATE TABLE analytics.stddev_summary AS
SELECT *
FROM
  (SELECT product_name,
    ROUND(STDDEV(price), 2) as stddev_price,
     AVG(price) as avg_price,
    components_of_computer,
    DENSE_RANK() OVER(PARTITION BY components_of_computer ORDER BY stddev_price DESC) as rank
  FROM analytics.summary
  GROUP BY 1, 4
  HAVING STDDEV(price) IS NOT NULL )
WHERE rank < 11;

SELECT * FROM analytics.stddev_summary;

   postgresql://admin:***@default-workgroup.471112861727.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
 * postgresql://member1:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member2:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://member3:***@default-workgroup.201253867267.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
60 rows affected.

[('RTX3090', 1252756.5, 2135556, 'gpu', 1),
 ('RTX4090', 752918.18, 2372585, 'gpu', 2),
 ('RX6800', 652684.5, 836612, 'gpu', 3),
 ('RX6900XT', 580081.32, 1642519, 'gpu', 4),
 ('RTX3080', 486336.24, 1658950, 'gpu', 5),
 ('RTX3070', 445086.84, 1203056, 'gpu', 6),
 ('RTX4070SUPER', 432113.47, 1030653, 'gpu', 7),
 ('RX570', 429355.61, 386238, 'gpu', 8),
 ('RTX2080Ti', 408186.64, 761333, 'gpu', 9),
 ('RX6400', 389933.21, 278684, 'gpu', 10),
 ('DDR5_32GB_4800MHZ', 388016.84, 357886, 'ram', 1),
 ('DDR5_16GB', 318739.29, 251776, 'ram', 2),
 ('DDR5_32GB_5200MHZ', 215474.02, 242902, 'ram', 3),
 ('DDR5_32GB_6000MHZ', 209371.92, 220793, 'ram', 4),
 ('DDR5_32GB_7200MHZ', 172242.58, 255425, 'ram', 5),
 ('DDR5_16GB_4800MHZ', 139032.9, 168972, 'ram', 6),
 ('DDR5_64GB', 116144.9, 239301, 'ram', 7),
 ('DDR4_16GB_4000MHZ', 108242.01, 157538, 'ram', 8),
 ('DDR5_16GB_6200MHZ', 96359.88, 120647, 'ram', 9),
 ('DDR5_96GB', 91782.46, 292950, 'ram', 10),
 ('i7-10700KF', 212132.03, 460000, 'CPU', 1),
 ('Ryzen 7 7700X', 141457.13, 452196, 'CPU', 2),
 ('Ryzen 7 5700G', 121176.64, 312416, 'CPU', 3),
 ('Ryzen 9 7950X3D', 112579.83, 920308, 'CPU', 4),
 ('Ryzen 7 5700X', 112270.58, 208818, 'CPU', 5),
 ('Ryzen 9 7950X', 105308.37, 721402, 'CPU', 6),
 ('i7-11700K', 98422.19, 430335, 'CPU', 7),
 ('Ryzen 9 5950X', 96903.83, 885147, 'CPU', 8),
 ('i9-13900KF', 95708.04, 822304, 'CPU', 9),
 ('i9-13900K', 91127.28, 903816, 'CPU', 10),
 ('sk hynix p31 1tb', 418670.76, 239896, 'SSD', 1),
 ('seagate 파이어쿠다 530 2tb', 137874.0, 276234, 'SSD', 2),
 ('samsung 980 pro 2tb', 128904.0, 257780, 'SSD', 3),
 ('sk hynix p31 2tb', 108919.36, 272370, 'SSD', 4),
 ('corsair mp600 2tb', 89550.05, 230394, 'SSD', 5),
 ('pny cs3040 2tb', 63670.47, 177267, 'SSD', 6),
 ('western digital sn850 2tb', 62282.85, 216237, 'SSD', 7),
 ('micron p5 plus 2tb', 60109.01, 190670, 'SSD', 8),
 ('sk hynix p41 2tb', 59575.38, 205332, 'SSD', 9),
 ('gigabyte aorus gen4 1tb', 58591.99, 130671, 'SSD', 10),
 ('Z590', 565632.23, 420743, 'mainboard', 1),
 ('Z490', 437939.73, 318464, 'mainboard', 2),
 ('Z690', 325819.4, 397735, 'mainboard', 3),
 ('A520', 325140.96, 212751, 'mainboard', 4),
 ('A620', 299837.06, 220791, 'mainboard', 5),
 ('B660', 263485.92, 208068, 'mainboard', 6),
 ('B550', 252619.22, 236931, 'mainboard', 7),
 ('B450', 210972.84, 169848, 'mainboard', 8),
 ('B560', 195615.56, 203781, 'mainboard', 9),
 ('B650', 138541.38, 268494, 'mainboard', 10),
 ('1600W', 202242.44, 415993, 'power supply', 1),
 ('850W', 134861.61, 145676, 'power supply', 2),
 ('500W', 95718.92, 59314, 'power supply', 3),
 ('1200W', 95116.35, 301048, 'power supply', 4),
 ('650W', 90061.04, 104842, 'power supply', 5),
 ('1000W', 67272.34, 190474, 'power supply', 6),
 ('1300W', 50334.6, 278546, 'power supply', 7),
 ('700W', 46594.22, 81634, 'power supply', 8),
 ('1050W', 35075.93, 155018, 'power supply', 9),
 ('750W', 27401.96, 101777, 'power supply', 10)]